= link_to "Create new post", new_post_path

%div
  %h1 Published

  - if @posts.published.present?
    = render partial: "post_list", locals: { posts: @posts.published }
  - else
    There are no published posts yet

%div
  %h1 Drafts

  - if @posts.drafts.present?
    = render partial: "post_list", locals: { posts: @posts.drafts }
  - else
    There are no drafts yet
