= link_to "Create new post", new_post_path

%div
  - if @posts.present?
    %ul
      - @posts.each do |post|
        %li
          = link_to post.title, post
          |
          = link_to "Edit", edit_post_path(post)
          |
          = link_to "Destroy", post, method: :delete, data: { confirm: "Sure?" }
          - unless post.published?
            | (draft)
  - else
    There are no posts yet
