%article.post
  %h1
    = render partial: "shared/post_permalink", locals: { post: post }

  - if post.tags.present?
    = render partial: "shared/tag_list", locals: { tags: post.tags }

  = post.html.html_safe

  %time{ pubdate: true }
    = post.pretty_date
