- title "About"

%h1 About

:markdown
  My name is David Pedersen and I'm a programmer living in Copenhagen, Denmark. This is my site where I write about things that I find interesting. It's mostly geek stuff but could also be about other things.

  You can find me here:

  - [@davidpdrsn](http://twitter.com/davidpdrsn) on Twitter.
  - [davidpdrsn](http://github.com/davidpdrsn) on GitHub.
  - [david.pdrsn@gmail.com](mailto:david.pdrsn@gmail.com) is my real email.

  This site is made using:

  - HTML for markup.
  - Scss for styling.
  - CoffeeScript and JavaScript for client-side functionality.
  - [Ruby on Rails](http://rubyonrails.org) for application code.
  - [Markdown](http://daringfireball.net/projects/markdown/) for writing.
  - [Vim](http://www.vim.org/) for text editing.
  - [Tmux](http://tmux.sourceforge.net/) for terminal multiplexing.
  - Git for version control.
  - [GitHub](http://github.com) and [Capistrano](http://github.com/capistrano/capistrano) for deploying.
  - Apache with mod_rails for serving the application.
  - [Digital Ocean](https://www.digitalocean.com) for hosting.

  This blog is open source on [Github](https://github.com/davidpdrsn/lonelyproton.com).

  If you're looking for someone to pair program with [hook me up](mailto:david.pdrsn@gmail.com). I mostly have experience of working with Ruby, Rails, iOS and JavaScript stuff but I'm open for pairing on anything.

%div.pair-with-me
  %a{href: "mailto:david.pdrsn@gmail.com?subject=Pair%20program%20with%20me", title: "Pair program with me!"}
    %img{src:"http://pairprogramwith.me/badge.png", alt: "Pair program with me!"}
