- title "About"

:markdown
  My name is David Pedersen and I'm a programmer living in Copenhagen, Denmark. This is my site where I write about things that I find interesting. It's mostly geek stuff but could also be about other things.

  You can find me here:

  - [@davidpdrsn](http://twitter.com/davidpdrsn) on Twitter.
  - [davidpdrsn](http://github.com/davidpdrsn) on GitHub.
  - [david.pdrsn@gmail.com](mailto:david.pdrsn@gmail.com) is my real email.

  This site is made using:

  - HTML for markup.
  - Scss for styling.
  - CoffeeScript and JavaScript for functionality.
  - [Jekyll](http://jekyllrb.com/) for generating the HTML pages.
  - [Markdown](http://daringfireball.net/projects/markdown/) for writing.
  - [Vim](http://www.vim.org/) and [tmux](http://tmux.sourceforge.net/) in [iTerm2](http://www.iterm2.com/) for text editing.
  - Git for version control.
  - GitHub hooks and node.js for releasing.
  - Nginx for serving the static files.
  - [Linode](https://www.linode.com) for hosting.

  This blog is open source on [Github](https://github.com/davidpdrsn/lonelyproton.com).

  You can find the RSS feed [here](/feed.xml)

  If you're looking for someone to pair program with [hook me up](mailto:david.pdrsn@gmail.com). I mostly have experience of working with Ruby, Rails, iOS and JavaScript stuff but I'm open to pairing on anything.
