- cache ["posts.index", @posts.map(&:updated_at)] do
  %div.posts
    - if @posts.present?
      - @posts.each do |post|
        = render partial: 'shared/post', locals: { post: post }
    - else
      There are no posts yet

  - if @posts.next_page?
    %p= link_to "Previously", "/?page=#{@posts.next_page}"

  %p= link_to "← Archive", archives_path
