%div.posts
  - if @posts.present?
    - @posts.each do |post|
      = render partial: 'shared/post', locals: { post: post }
  - else
    There are no posts yet

%p
  = link_to "← Archive", archives_path
