*,
*:before,
*:after {
  @include box_sizing(border-box);
}

body {
  font-size: 100%;
  font-family: Georgia, sans-serif;
  font-family: 'Lato', sans-serif;
  line-height: 1.618;
  padding: 0 2%;
  max-width: 50rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px dotted black;
  &:hover {
    color: $gray;
    border-bottom-color: $gray;
  }
}

h1 {
  font-size: 1.66rem;
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-size: 1.33rem;
  + p {
    margin-top: 0;
  }
}

h3 {
  margin: 0;
  font-size: 1.1rem;
  + p {
    margin-top: 0;
  }
}

time {
  display: block;
  color: $gray;
  font-size: .8rem;
}

img {
  max-width: 100%;
  display: block;
}

pre {
  padding: .5rem;
  line-height: 1;
}

code {
  font-family: 'Ubuntu Mono', monospace;
}
