@font-face {
  font-family: 'LetterGothic';
  src: url('../fonts/lettergothicstd-webfont.eot');
  src: url('../fonts/lettergothicstd-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lettergothicstd-webfont.woff') format('woff'),
       url('../fonts/lettergothicstd-webfont.ttf') format('truetype'),
       url('../fonts/lettergothicstd-webfont.svg#LetterGothicStdMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
